@import "../../../scss/index.scss";

.login-form{
    h2 {
        font-size: 17px !important;
        text-align: center;
        margin-bottom: 20px;
    }
    Input {
        padding: 15px im !important;
        background-color: #f9f9f9 in !important;

    }

}